@section head {
    <script type="text/javascript">
        var webApiUrl = '@ViewBag.WebApiUrl';
        var viewModel;
        function AppViewModel() {
            var self = this;

            self.accessToken = ko.observable('');
            self.userId = ko.observable('');
            self.friends = ko.observableArray([]);
            self.games = ko.observableArray([]);
            self.leaderBoard = ko.observableArray([]);
            self.leaderBoardLoading = ko.observable(true);
            self.isBusy = ko.observable(true);
        }

        var initialize = function (uid, accessToken) {
            viewModel.accessToken = ko.observable(accessToken);
            viewModel.userId = ko.observable(uid);
            $.ajax({
                url: webApiUrl + '/game?facebookId=' + uid + '&token=' + accessToken
                }).done(function (data) {
                    viewModel.friends(ko.mapping.fromJS(data))
                }).fail(function(jqXHR, textStatus) {
                    //alert("failed"); //TODO: do something
                });
            
            viewModel.leaderBoardLoading(true);
            $.ajax({
                    url: webApiUrl + '/leaderboard'
                }).done(function (data) {
                    viewModel.leaderBoard(ko.mapping.fromJS(data));
                    viewModel.leaderBoardLoading(false);  
                }).fail(function(jqXHR, textStatus) {
                    //alert("failed"); //TODO: do something
                });

            viewModel.isBusy(false); //TODO: this should only be changed when ready!
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.AppID', // App ID
                channelUrl: '@ViewBag.Domain/Home/Channel', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {
                var uid, accessToken;
                if (response.status === 'connected') {
                    uid = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                }
                initialize(uid, accessToken);
                
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        } (document));

        $(document).ready(function () {
            
            $("#aFriend").click(function () {
                $.ajax({
                        url: "@ViewBag.WebApiUrl/friends?facebookId=" + uid + "&token=" + accessToken,
                    }).done(function (data) {
                        $("#friend-list").show();
                        viewModel.Friends(ko.mapping.fromJS(data)());
                    });
            });
            viewModel = new AppViewModel();
            ko.applyBindings(viewModel);
        });

        
    </script>
}

<div id="maincontent">
    <div id="splash" class="content-wrapper" data-bind="visible: isBusy()">
        <img src="@Url.Content("~/Images/splash.jpg")" alt="WhoIzIt?" width="467" height="400" />
    </div>
    @*<div id="newuser" class="hidden">
        <hgroup class="title">
            <h1>WhoIzIt?</h1>
            <h2>Guess who...</h2>
        </hgroup>

        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus tincidunt justo nec tempor. 
                Aliquam erat volutpat. Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
                mi augue, posuere at tempus vel, dignissim vitae nulla. Nullam at quam eu sapien mattis ultrices. 
                Quisque quis leo mi, at lobortis dolor. Nullam scelerisque facilisis placerat. Fusce a augue 
                erat, malesuada euismod dui. Duis iaculis risus id felis volutpat elementum. Fusce blandit iaculis 
                quam a cursus. Cras varius tincidunt cursus. Morbi justo eros, adipiscing ac placerat sed, posuere 
                et mi. Suspendisse vulputate viverra aliquet. Duis non enim a nibh consequat mollis ac tempor 
                lorem. Phasellus elit leo, semper eu luctus et, suscipit at lacus. In hac habitasse platea 
                dictumst. Duis dignissim justo sit amet nulla pulvinar sodales.
            </p>
        </article>
        <div id="start">
            <a href="@ViewBag.AuthUrl" target="_top">Start Playing</a>
        </div>
    </div>*@
    <div id="board" data-bind="visible: !isBusy()">
        <div id="leftmenu" class="float-left">
            <div id="leaderboard">
                <div class="loading" data-bind="visible: leaderBoardLoading()">
                    Loading...
                </div>
                <div data-bind="visible: !leaderBoardLoading()">
                    &nbsp;Leader Board
                    <ul data-bind=" foreach: leaderBoard">
                        <li>
                            <img src="~/Images/player.png" alt="player" style="float: left;" />
                            <div style="margin-left: 50px;">
                                points: <span data-bind="text: points"></span><br />
                                level <span data-bind="text: level"></span>
                            </div>
                            <div style="clear: both;"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear: both; height: 20px;"></div>
            <div id="newgame">
                <a href="#_self" class="rounded-link">new game</a>
            </div>
            <div id="curentgames"></div>
        </div>
        <div id="content">
            <table id="friendboard">
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            </table>
        </div>
        <div id="controls">hey2</div>
    </div>
</div>

@*<div id="oponent" class="hidden">
        <a href="#_self" id="aFriend">Play with friend</a><br />
        <a href="">Play with random person</a>
    </div>
    <div id="friend-list" class="hidden" data-bind="foreach: Friends">
        <img data-bind="attr: {src: PicUrl} " alt="" src="" />
        <span data-bind="text: Name"></span>
        <span data-bind="text: Status"></span><br />
    </div>*@
