@section head {
    <script type="text/javascript">
        var webApiUrl = '@ViewBag.WebApiUrl';
        var viewModel;
        function AppViewModel() {
            var self = this;

            self.accessToken = ko.observable('');
            self.userId = ko.observable('');
            self.friends = ko.observableArray([]);
            self.games = ko.observableArray([]);
            self.leaderBoard = ko.observableArray([]);
            self.leaderBoardLoading = ko.observable(true);
            self.isBusy = ko.observable(true);
            self.startRandomGame = function () {
                $.ajax({
                    url: webApiUrl + '/game?facebookId=' + self.userId() + '&token=' + self.accessToken(),
                    type: "POST"
                }).done(function (data) {
                    alert(data);
                }).fail(function(jqXHR, textStatus) {
                    if (jqXHR.status == 404) {
                        //no opponent was found! Show message
                        $.blockUI({ message: "<h1>No opponent was found</h1>Please try again in a few moments" }); 
                        $('.blockOverlay').attr('title','Click to unblock').click($.unblockUI);
                    }
                    else {
                        //something else happened
                        //TODO: show error with toast notification
                    }
                });
            }
            self.getFriends = function () {
                //TODO: show loading
                $.ajax({
                    url: "@ViewBag.WebApiUrl/friends?facebookId=" + self.userId() + "&token=" + self.accessToken()
                }).done(function (data) {
                    //TODO: hide loading
                    self.friends(ko.mapping.fromJS(data)());
                }).fail(function (jqXHR, textStatus) {
                    //TODO: hide loading
                });
            }
        }

        var initialize = function (uid, accessToken) {
            viewModel.accessToken = ko.observable(accessToken);
            viewModel.userId = ko.observable(uid);
            $.ajax({
                url: webApiUrl + '/game?facebookId=' + uid + '&token=' + accessToken
                }).done(function (data) {
                    viewModel.friends(ko.mapping.fromJS(data))
                }).fail(function(jqXHR, textStatus) {
                    //alert("failed"); //TODO: do something
                });
            
            viewModel.leaderBoardLoading(true);
            $.ajax({
                    url: webApiUrl + '/leaderboard'
                }).done(function (data) {
                    viewModel.leaderBoard(ko.mapping.fromJS(data));
                    viewModel.leaderBoardLoading(false);  
                }).fail(function(jqXHR, textStatus) {
                    //alert("failed"); //TODO: do something
                });

            viewModel.isBusy(false); //TODO: this should only be changed when ready!
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.AppID', // App ID
                channelUrl: '@ViewBag.Domain/Home/Channel', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {
                var uid, accessToken;
                if (response.status === 'connected') {
                    uid = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                }
                initialize(uid, accessToken);
                
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        } (document));

        $(document).ready(function () {
            
            $("#newGame").click(function () {
                $.blockUI({ 
                    message: $('#newGameDialog'), 
                    css: { 
                        top:  ($(window).height() - 400) /2 + 'px', 
                        left: ($(window).width() - 400) /2 + 'px', 
                        width: '400px'} 
                });
                $('.blockOverlay').attr('title','Click to unblock').click($.unblockUI);
            });
            $("#newGameFriend").click(function () {
                $.blockUI({
                    message: $('#newGameFriendDialog'), 
                    css: {
                        top: ($(window).height() - 400) / 2 + 'px',
                        left: ($(window).width() - 400) / 2 + 'px',
                        width: '400px' }
                });
                $('.blockOverlay').attr('title', 'Click to unblock').click($.unblockUI);
            });
            viewModel = new AppViewModel();
            ko.applyBindings(viewModel);
        });

        
    </script>
}

<div id="maincontent">
    <div id="splash" class="content-wrapper" data-bind="visible: isBusy()">
        <img src="@Url.Content("~/Images/splash.jpg")" alt="WhoIzIt?" width="467" height="400" />
    </div>
    <div id="newGameDialog" class="dialog hidden">
        <a href="#_self" class="rounded-link" data-bind="click: startRandomGame">Random Person</a><br /><br />
        <a href="#_self" id="newGameFriend" class="rounded-link" data-bind="click: getFriends">With a Friend</a>
    </div>
    <div id="newGameFriendDialog" class="dialog hidden" data-bind="foreach: friends">
        <img data-bind="attr: {src: PicUrl} " alt="" src="" />
        <span data-bind="text: Name"></span>
        <span data-bind="text: Status"></span><br />
    </div>
    <div id="board" data-bind="visible: !isBusy()">
        <div id="leftmenu" class="float-left">
            <div id="leaderboard">
                <div class="loading" data-bind="visible: leaderBoardLoading()">
                    Loading...
                </div>
                <div data-bind="visible: !leaderBoardLoading()">
                    &nbsp;Leader Board
                    <ul data-bind=" foreach: leaderBoard">
                        <li>
                            <img src="~/Images/player.png" alt="player" style="float: left;" />
                            <div style="margin-left: 50px;">
                                points: <span data-bind="text: points"></span><br />
                                level <span data-bind="text: level"></span>
                            </div>
                            <div style="clear: both;"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear: both; height: 20px;"></div>
            <div id="newgame">
                <a href="#_self" id="newGame" class="rounded-link">new game</a>
            </div>
            <div id="curentgames"></div>
        </div>
        <div id="content">
            <table id="friendboard">
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            </table>
        </div>
        <div id="controls">hey2</div>
    </div>
</div>

@*<div id="oponent" class="hidden">
        <a href="#_self" id="aFriend">Play with friend</a><br />
        <a href="">Play with random person</a>
    </div>
    *@
